<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <!-- This is where the public api key for the google map-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYEHk649Z4tAbBYyT_vn7X6UUuayebxs0&sensor=true"></script>
  </head>

  <body>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "#{name} alert-box" %>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
